{% extends "base.html" %}
{%block title%}{{title}}{%endblock%}

{%block content%}
<h1 class="w3-center">Create your course</h1>
<div>
    <form class="w3-container w3-auto w3-card w3-hover-shadow w3-light-grey w3-center" style="width: 50%;" method="POST">
        {{form.csrf_token}}
        <p><label class="w3-left">{{form.course_code.label}}</label>{{form.course_code(class="w3-input w3-border")}}</p>
        {% for error in form.course_code.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.name.label}}</label>{{form.name(class="w3-input w3-border")}}</p>
        {% for error in form.name.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.venue.label}}</label>{{form.venue(class="w3-input w3-border")}}</p>
        {% for error in form.venue.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.start_time.label}}</label>{{form.start_time(class="w3-input w3-border")}}</p>
        {% for error in form.start_time.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.end_time.label}}</label>{{form.end_time(class="w3-input w3-border")}}</p>
        {% for error in form.end_time.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.day.label}}</label>{{form.day(class="w3-input w3-border")}}</p>
        {% for error in form.day.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}


        <p><label class="w3-left">{{form.number_of_tutors.label}}</label>{{form.number_of_tutors(class="w3-input w3-border")}}</p>
        {% for error in form.number_of_tutors.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p>{{form.submit(class="w3-button w3-green w3-round")}}</p>
    </form>
</div>
{%endblock%}