{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}     

{%block content%}
<div class= "w3-container w3-center" style="margin-top: 5%;">
      <br>
    <p class="w3-text-grey w3-center">Please specify the account type you are interested in</p>

    <p>
      <a class="w3-button w3-flat-carrot" href= "{{url_for('student.studentRegistration')}}" style="width: 30%;">Student</a>
      <a class="w3-button w3-green w3-margin" href="{{url_for('tutor.tutorRegistration')}}" style="width: 30%;">Tutor</a>
      <a class="w3-button w3-indigo" href= "{{url_for('lecturer.lectureRegistration')}}" style="width: 30%;">Lecturer</a>
    </p>
    <br>
    <br>
    <br>
{%endblock%}
