{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}     

{%block content%}
<style>
  #main {
    background-image: url('https://images.wallpaperscraft.com/image/code_text_colorful_140555_1366x768.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h1 {
    border-style: solid;
    border-width: 2px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: monospace;
    background-color:white;
  }
</style>
<div id="main" style="padding-bottom: 10cm; padding-top: 1cm;" >

<h1 class="text-center mb-5 mt-5" style="color:turquoise;">Please specify the account type you are interested in.</h1>

<div class="row ml-3 mr-3 mb-5" style="margin-bottom: 10cm;">
  <div class="col-md-4">
    <div class="card text-white bg-info">
      <div class="card-body">
        <h5 class="card-title">Lecturer Account</h5>
        <p class="card-text">Create your very own courses with our easy to use templates, Set course tutoring time, review tutor application and more. Register now!</p>
        <a href="{{url_for('lecturer.lectureRegistration')}}" class="btn btn-primary">Lecturer</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="text-white bg-info card">
      <div class="card-body">
        <h5 class="card-title">Tutor Account</h5>
        <p class="card-text">Access loads of courses and apply to be a tutor. Interact with lectures and students, using course forums and more. Create your account now!</p>
        <a href="{{url_for('tutor.tutorRegistration')}}" class="btn btn-primary">Tutor</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="text-white bg-info card">
      <div class="card-body">
        <h5 class="card-title">Student Account</h5>
        <p class="card-text">Register as a student to get access to loads of courses that are on offer,So that you never get left behind.</p>
        <a href="{{url_for('student.studentRegistration')}}" class="btn btn-primary">Student</a>
      </div>
    </div>
  </div>
</div>

</div>


{%endblock%}
