{%extends "base.html"%}

{%block title%} {{title}} {%endblock%}

{%block content%}
<h1 class="w3-center" style="color: darkslategray;">Welcome to TUTOR TRACKER</h1>

<h3 class="w3-container w3-center" style="color: darkslategray;">
      <p>Tutor Tracker is a website dedicated to helping tutors and lecturers work together in harmony.
      Through our platform, we aim to provide you with analysis tools that will help you as a tutor get ahead in extending a helping hand.
      As a lecturer, we aim to provide you with the best tool to get the most productivity out of tutorial sessions you host. </p>
</h3>
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}



