{%extends "base.html"%}


{%block content%}
<style>
    body {
        background-image: url('https://www.wits.ac.za/media/wits-university/students/sdlu/study-abroad/images/Wits-University-Great-Hall-1200x500.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }

    #main{
        padding-bottom: 5cm;
    }


    #fp1 {
        border-style: solid;
        border-color: cadetblue;
        border-width: 1px;
        background-color: white;
        margin-left: 15cm;
        margin-right: 15cm;
    }


    
</style>
<div id="main">

    <div class="row align-items-center justify-content-center" style="height: 200px;">
        <div class="col-md-2" align="center">
            <img src="static/tutortrackerlogo.png">
        </div>
    </div>

    
    <div align="center" style="color: green; font-family: monospace;">
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                {%if message == 'Invalid username or password' %}
                    <span style="color: red; font-family: monospace; background-color: white;">{{message}}</span>
                {%else%}
                    <span style="background-color:white;">{{message}}</span>
                {%endif%}
                {%endfor%}
            {%endif%}
        {%endwith%}
    </div>

    <form method="POST" novalidate style="font-family: monospace; color: white; margin-top: 2cm;">
        {{form.csrf_token}}
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label>{{form.username.label}}</label>
                {{form.username(class="form-control", placeholder="Enter email")}}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">    
            <div class="form-group col-md-4">
                <label>{{form.password.label}}</label>
                {{form.password(class="form-control" ,placeholder="Enter password")}}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                    <small>{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                {{form.submit(class="btn btn-primary offset-md-5")}}
            </div>
        </div>
    </form>

    <p id="fp1" class="w3-center" style="font-family: monospace;">New at TUTOR TRACKER? <a href= "{{url_for('auth.account_type')}}" class= "w3-text-blue" style="text-decoration:none">Create Account</a></p>
</div>
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}