{%extends "base.html"%}

{%include "profile_page.html"%}

{%block content%}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="border: solid 3px white; margin-bottom: 2cm; padding-bottom: 1cm; color: white;">
            <div style="border: solid 3px white; margin-bottom: 1cm; margin-top: 0.5cm;">
                <h4 style="color: white; font-family: monospace; padding: 0.5em;">User details</h4>
                <div style="padding-left: 1em;">
                    <p><b>email</b></p>
                    <p>{{current_user.email}}</p>
                </div>
                
            </div>
            <div class="row justify-content-around" style="padding-bottom: 1cm;">
            
            <div class="col-md-5" style="border: solid 3px white;">
                <h4 style="color: white; font-family: monospace; padding: 0.5em;">Other</h4>
                <p><b>Username</b></p>
                <p>{{current_user.username}}</p>
                <p><b>Identification Number</b></p>
                <p>{{current_user.tutor.id_number}}</p>
            </div>
            <div class="col-md-5" style="border: solid 3px white;">
                <h4 style="color: white; font-family: monospace; padding: 0.5em;">Miscellaneous</h4>
                <p><b>Phone number</b></p>
                <p>{{current_user.tutor.phone_number}}</p>
                <p><b>Account type</b></p>
                <p>{{current_user.tutor.account_type}}</p>
                <p><b>Account Number</b></p>
                <p>{{current_user.tutor.account_number}}</p>
                <p><b>Bank name</b></p>
                <p>{{current_user.tutor.bank_name}}</p>
                <p><b>Banch code</b></p>
                <p>{{current_user.tutor.branch_code}}</p>

            </div>
            </div>
            {% if current_user.tutor%}
                    <a style="border: solid 3px white; padding: 1em; text-decoration: none; color: white; font-family: monospace;" href="{{url_for('tutor.edit_tutor')}}">Update details</a>
            {% endif %}
        </div>
    </div>
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}
