{%extends "base.html"%}

{%include "profile_page.html"%}

{%block content%}

{% include "flash.html"%}

<h1 align="center" style="color: lightgray;">Your profile</h1>
<div class="w3-container w3-auto w3-card w3-hover-shadow w3-white w3-round" style="width:70%;">
    <ul class = "w3-ul">
    <li><h2>Your information</h2></li>
    <li><b>My Status</b> <i class="w3-right" style = "text-transform:capitalize;">
      {%if current_user.tutor.status ==  True %} 
      Available 
      {%else%} 
      Busy 
      {%endif%}</i></li>
    <li><b>Name</b> <i class="w3-right" style = "text-transform:capitalize;">{{current_user.firstname}}</i></li>
    <li><b>Surname</b> <i class="w3-right" style ="text-transform:capitalize;">{{current_user.lastname}}</i></li>
    <li><b>Email</b> <i class="w3-right">{{current_user.email}}</i></li>
    <li><b>Username</b> <i class="w3-right">{{current_user.username}}</i></li>
    <li><b>Student number</b> <i class="w3-right">{{current_user.tutor.student_number}}</i></li>
    <li><b>Account type</b> <i class="w3-right">{{current_user.tutor.account_type}}</i></li>
    <li><b>Account number</b> <i class="w3-right">{{current_user.tutor.account_number}}</i></li>
    <li><b>Bank name</b> <i class="w3-right">{{current_user.tutor.bank_name}}</i></li>
    <li><b>Branch code</b> <i class="w3-right">{{current_user.tutor.branch_code}}</i></li>
    <li><b>Phone number</b> <i class="w3-right">{{current_user.tutor.phone_number}}</i></li>
    <li><b>Year of study</b> <i class="w3-right">{{current_user.tutor.year_of_study}}</i></li>
    </ul>
    <a class="w3-button w3-green w3-margin w3-round" href="{{url_for('tutor.edit_tutor')}}" style="width: 30%;">Update profile</a>
</div>


{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}
