{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}

      <!-- configuration for  pc  and tablets -->
{%block content%}
{%if not current_user.tutor.enrolled_courses%}
<h3>You do not have any courses you are enrolled in. Visit explore to add courses to your dashboard <a class="w3-text-blue"href="{{url_for('courses.explore')}}">here</a></h3>
{%else%}
{%for course in current_user.tutor.enrolled_courses%}
<div class="w3-card-4">
      <header class="w3-container w3-light-grey">
            <h3>{{course.course_code}}</h3>
      </header>
      <div class="w3-container">
                  <p>{{course.name}}</p>
      </div>
      <a href="{{url_for('courses.show_course_details' , course_code=course.course_code)}}"><button class="w3-button w3-block w3-grey">course details</button></a>
  </div>
  <br>
{%endfor%}
{%endif%}
{%endblock%}    


{%block footer%}
{% include "footer.html"%}
{%endblock%}

