{%extends "base.html"%}


{%block title%}{{title}}{%endblock%}

{%block content%}
<br>

<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="{{url_for('messages.send_message' , recipient=tutor.user.username)}}">Send message</a>
        </div>
</div>

<div class="col-md-10">
    <ul class="w3-ul">
    <li><h1>Tutor information</h1></li>
    <li><h2>{{tutor.user.firstname}} {{tutor.user.lastname}}</h2><i style = "text-transform:capitalize;"></i></li>
    <li><b>Tutor Status</b> <i class="w3-right" style = "text-transform:capitalize;">
        {%if tutor.status ==  True %} 
        Available 
        {%else%} 
        Busy 
        {%endif%}</i></li>
    <li><b>Tutor location</b> <i class="w3-right" style = "text-transform:capitalize;">to be implemented</i></li>
    <li><h2>Courses tutored</h2> <i class="w3-right" style = "text-transform:capitalize;"></i></li>
    <li><ul class="w3-ul">
            {%for course in tutor.enrolled_courses%}
            <li><b>Course</b> <i class="w3-right">{{course.course_code}}</i></li>
            {%endfor%}
        </ul>
    </li>
    </ul>
</div>

{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}