{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}

{%block content%}
<style>
    #div1 {
        color: white;
        border-style: solid;
        border-width: 3px;
        margin-bottom: 3em;
        margin-left: 12em;
        padding-bottom: 2em;
    }    
  </style>

{%with messages = get_flashed_messages() %}
{%if messages%}
    {%for message in messages%}
        <p class="w3-green">{{message}}</p>
    {%endfor%}
{%endif%}
{%endwith%}

{%for course in courses%}
    {% if current_user.tutor not in course.enrolled_tutors%}
    <div class="row" style="font-family: monospace;">
        <div id="div1" class="col-md-4">
              <header style="padding: 0.5em; font-size: 2em; border-bottom: solid 3px white;">
                    {{course.course_code}}
              </header>  
              <h5 style="padding: 0.5em; font-family: monospace;">{{course.name}}</h5>       
              <a href="{{url_for('application.application_form' , course_code = course.course_code)}}" style="border: solid 3px white; color: white; padding: 5px; margin-right: 1em; text-decoration: none;">Apply </a>
              <a href="{{url_for('courses.enroll_in_a_course' , course_code = course.course_code)}}" style="border: solid 3px white; color: white; padding: 5px; text-decoration: none;">Enroll </a>
              
        </div>
        
  </div>
{%endif%}
{%endfor%}
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}