{% extends "base.html" %}
{%block title%}{{title}}{%endblock%}

{%block content%}
<h1 class="w3-center">Create your session</h1>
<div>
    <form class="w3-container w3-auto w3-card w3-hover-shadow w3-light-grey w3-center" style="width: 50%;" method="POST">
        {{form.csrf_token}}
        
        <p><label class="w3-left">{{form.course.label}}</label>{{form.course(class="w3-input w3-border")}}</p>
        {% for error in form.course.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        
        <p><label class="w3-left">{{form.start_time.label}}</label>{{form.start_time(class="w3-input w3-border")}}</p>
        {% for error in form.start_time.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.end_time.label}}</label>{{form.end_time(class="w3-input w3-border")}}</p>
        {% for error in form.end_time.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

        <p><label class="w3-left">{{form.date.label}}</label>{{form.date(class="w3-input w3-border")}}</p>
        {% for error in form.date.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}


        <p>{{form.submit(class="w3-button w3-green w3-round")}}</p>
    </form>
    <!--
          Post this data to the database created
    -->>
</div>
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}