{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}

{%block content%}
<h2 class="w3-center" style="font-family: monospace; color: white;">Enrollement key for {{course_code}}</h2>
<br>
<form method="POST" novalidate style="color: white; font-family: monospace;">
    {{form.csrf_token}}

    <div class="row justify-content-center">
        <div class="form-group col-md-4">
            <label>{{form.key.label}}</label>
            {{form.key(id="key", class="form-control", placeholder="Enter key")}}
            <div class="invalid-feedback">
                {% for error in form.key.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>

    {{form.course_code(class="form-control", placeholder="Enter course_code" , type="hidden")}}


    
    <div class="row justify-content-center">
        <div class="form-group col-md-4">
            <button type="submit" style="border: solid 3px white; padding: 1em; text-decoration: none; color: white; background-color: skyblue;">Enroll</button>
        </div>
    </div>

</form>

{% if form.key.errors %}
<script>
    $("#key").addClass("is-invalid")
</script>
{%endif%}
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}