{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}

{%block content%}
<h2 class="w3-center">Enrollement key for {{course_code}}</h2>
<br>
<form method="POST" novalidate>
    {{form.csrf_token}}

    <div class="row justify-content-center">
        <div class="form-group col-md-4">
            <label>{{form.key.label}}</label>
            {{form.key(class="form-control", placeholder="Enter key")}}
            <div class="text-danger">
                {% for error in form.key.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group col-md-4">
            {{form.submit(class="btn btn-primary offset-md-5")}}
        </div>
    </div>

</form>
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}