{%extends "base.html"%}

{%block title %}{{title}}{%endblock%}
{%block content%}
<style>
    small{
        color: white;
    }
    body{
        background-image: none;
        background-color:darkslategrey ;
    }
</style>
<div class="p-4 mb-5 row" style="background-color:royalblue; font-family: monospace; color: white;">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h1>TutorTracker</h1>
    </div>
    <div class="col-md">
        <p class="mt-3">Already have an account? <a href= "{{url_for('auth.login')}}" style="color: yellow;">Sign In</a></p>
    </div>
</div>

<h1 class="text-center mb-5" style="font-family: monospace; color: white;">Create a new account</h1>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="POST" novalidate style="font-family: monospace; color: white; margin-bottom: 3em;">
            {{form.csrf_token}}
            <div class="form-row mb-3">
                <div class="form-group col-md-6">
                    <label>{{form.firstname.label}}</label>
                    {{form.firstname(id="firstname" , class="form-control" , placeholder="Your name")}}
                    <div class="invalid-feedback">
                        {%for error in form.firstname.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>{{form.lastname.label}}</label>
                    {{form.lastname(id="lastname" ,class="form-control", placeholder="Your surname")}}
                    <div class="invalid-feedback">
                        {%for error in form.lastname.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-md-4">
                    <label>{{form.employee_number.label}}</label>
                    {{form.employee_number(id="employee_number" ,class="form-control", placeholder="Employee number here")}}
                    <div class="invalid-feedback">
                        {%for error in form.employee_number.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                </div>   
                <div class="form-group col-md-4">
                    <label>{{form.email.label}}</label>
                    {{form.email(id="email" ,class="form-control", placeholder="Email here")}}
                    <div class="invalid-feedback">
                        {%for error in form.email.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>{{form.username.label}}</label>
                    {{form.username(id="username" ,class="form-control" , placeholder="Username here")}}
                    <div class="invalid-feedback">
                        {%for error in form.username.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                    <small class="form-text">
                        Your username must not contain spaces, special characters, or emoji.
                    </small>
                </div>
            </div> 
            <div class="form-row mb-3">
                <div class="form-group col-md-10">
                    <label>{{form.password1.label}}</label>
                    {{form.password1(id="password1" ,class="form-control" , placeholder="Password here")}}
                    <div class="invalid-feedback">
                        {%for error in form.password1.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                    <small class="form-text">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </small>
                </div>
            </div>
            <div class="form-row mb-3"> 
                <div class="form-group col-md-10">
                    <label>{{form.password2.label}}</label>
                    {{form.password2(id="password2" ,class="form-control", placeholder="Repeat your password")}}
                    <div class="invalid-feedback">
                        {%for error in form.password2.errors%}
                        {{error}}
                        {%endfor%}
                    </div>
                </div>  
            </div>
            <button type="submit" class="btn btn-primary">Create account</button>
        </form>
    </div>
</div>


{% if form.firstname.errors %}
<script>
    $("#firstname").addClass("is-invalid")
</script>
{%endif%}

{% if form.lastname.errors %}
<script>
    $("#lastname").addClass("is-invalid")
</script>
{%endif%}

{% if form.employee_number.errors %}
<script>
    $("#employee_number").addClass("is-invalid")
</script>
{%endif%}

{% if form.email.errors %}
<script>
    $("#email").addClass("is-invalid")
</script>
{%endif%}

{% if form.username.errors %}
<script>
    $("#username").addClass("is-invalid")
</script>
{%endif%}

{% if form.password1.errors %}
<script>
    $("#password1").addClass("is-invalid")
</script>
{%endif%}

{% if form.password2.errors %}
<script>
    $("#password2").addClass("is-invalid")
</script>
{%endif%}

{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}