{%extends "base.html"%}

{%include "profile_page.html"%}
{%block list_items%}
ldfjdl
{%endblock%}
{%block content%}

    <div class="w3-container w3-auto w3-card w3-hover-shadow w3-white w3-round" style="width:70%;">
        <ul class="w3-ul">
        <li><h2>Your information</h2></li>
        <li><b>Name</b> <i class="w3-right" style = "text-transform:capitalize;">{{current_user.firstname}}</i></li>
        <li><b>Surname</b> <i class="w3-right" style = "text-transform:capitalize;">{{current_user.lastname}}</i></li>
        <li><b>Email address</b> <i class="w3-right">{{current_user.email}}</i></li>
        <li><b>Username</b> <i class="w3-right">{{current_user.username}}</i></li>
        <li><b>Employee number</b> <i class="w3-right">{{current_user.lecture.employee_number}}</i></li>
        <li><b>Office</b> <i class="w3-right">{{current_user.lecture.office_number}}</i></li>
        <li><b>Telephone</b> <i class="w3-right">{{current_user.lecture.telephone_number}}</i></li>
        </ul>
        <a class="w3-button w3-green w3-margin w3-round" href="{{url_for('lecturer.edit_lecture')}}" style="width: 30%;">Update profile</a>

    </div>

{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}
