{% extends "base.html" %}

{% block content %}
<style>
    .imgcls {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 100px;
      height: 100px;
    }
    
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>
<div class="row justify-content-center" style="height: 20cm;">
    <div class="col-md-11">

        <div class="row">
        <div class="col" >
            <h1 align="center" style="color: lightgray;"> {{course_code}} Forum <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-text-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
              </svg></h1>
        </div>
        </div>
    
        <div class="row">
        <div class="col">
            {%for message in messages%}
            {%if message.author == current_user%}
            <div class="row justify-content-end"> 
                    {{message.upvote_count}}<a href="{{url_for('messages.upvote_count' , message_id=message.message_id , course_code = course_code)}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg></a>
                <div class="card bg-light mb-3" style="max-width: 70rem;">
                    <div class="card-body">
                      <h6 class="card-title" style="color:lightgray;">{{message.author.firstname}} <small>{{message.timestamp}}</small></h6>
                      <p class="card-text">{{message.body}}</p> 
                      {%if message.attachment_name != None %}
                      <a target="_blank" href="{{url_for('messages.message_attachment' , filename = message.attachment_name)}}">
                        {%if ".jpg" in message.attachment_name%}
                        <img class="imgcls" src="/static/message_attachments/{{message.attachment_name}}" alt="image"> {{message.attachment_name}}
                        {%else%}
                        <img class="imgcls" src="https://icons.iconarchive.com/icons/papirus-team/papirus-mimetypes/512/x-office-document-icon.png" alt="Document">{{message.attachment_name}}
                        {%endif%}
                    </a>
                      {%endif%}
                    </div>
                </div>
                
            </div>
            
            
            {%else%}
            <div class="row justify-content-start">
                {{message.upvote_count}} <a href="{{url_for('messages.upvote_count' , message_id=message.message_id , course_code = course_code)}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                  </svg></a>
            <div class="card text-white bg-primary mb-3" style="max-width: 70rem;">
                <div class="card-body">
                  <h6 class="card-title" style="color:lightgray;">{{message.author.firstname}} <small>{{message.timestamp}}</small></h6>
                  <p class="card-text">{{message.body}} </p>
                  {%if message.attachment_name != None %}
                      <a target="_blank" href="{{url_for('messages.message_attachment' , filename = message.attachment_name)}}" style="color: white;">
                        {%if ".jpg" in message.attachment_name%}
                        <img class="imgcls" src="/static/message_attachments/{{message.attachment_name}}" alt="image"> {{message.attachment_name}}
                        {%else%}
                        <img class="imgcls" src="https://icons.iconarchive.com/icons/papirus-team/papirus-mimetypes/512/x-office-document-icon.png" alt="Document">{{message.attachment_name}}
                        {%endif%}
                    {%endif%}
                    </a>
                </div>
                
            </div>
            </div>
            {%endif%}
            {%endfor%}
    </div>
        </div>

        <div class="row fixed-bottom justify-content-center">
        <div class="col-md-10">
            <form class="form-row" method="POST" enctype="multipart/form-data" novalidate>
                {{form.csrf_token}}
                <div class="col">
                  <label for="inputPassword2" class="sr-only">Password</label>
                {{form.message(class="form-control" , placeholder="Type a message")}}
                </div>
                <div class="vol">
                    <button type=submit class="btn btn-primary">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    {{form.message_attachment}}
                </div>

              </form>
        </div>
        </div>

    </div>
</div>
<!----------------------------------------
          <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>Newer messages
            </a>
            </li>
  
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older messages<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

    {%with messages = get_flashed_messages()%}
{%if messages%}
    {%for message in messages%}
        <p class="w3-green">{{message}}</p>
    {%endfor%}
{%endif%}
{%endwith%}
<form method="POST" novalidate>
    {{form.csrf_token}}
    <div class="row justify-content-center">    
        <div class="form-group col-md-4">
            <label>{{form.message.label}}</label>
            {{form.message(class="form-control" ,placeholder="Your message here")}}
            <div class="text-danger">
                {% for error in form.message.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="form-group col-md-4">
            {{form.submit(class="btn btn-primary offset-md-5")}}
        </div>
    </div>
</form>
--------------------->
{% endblock %}