{%extends "base.html"%}

{%block content%}

<style>
    .imgcls {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 100px;
      height: 100px;
    }
    
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>
<h1 style="color: lightgray; text-align: center;">Upvotes</h1>
{%for message in messages%}
            <div class="row justify-content-start"> 
                <div class="col">
                    {{message.upvote_count}}<a href="{{url_for('messages.upvote_count' , message_id=message.message_id , course_code = course_code)}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg></a>
                <div class="card bg-light mb-3" style="max-width: 70rem;">
                    <div class="card-body">
                      <h6 class="card-title" style="color:lightgray;">{{message.author.firstname}} <small>{{message.timestamp}}</small></h6>
                      <p class="card-text">{{message.body}}</p> 
                      {%if message.attachment_name != None %}
                      <a target="_blank" href="{{url_for('messages.message_attachment' , filename = message.attachment_name)}}">
                        {%if ".jpg" in message.attachment_name%}
                        <img class="imgcls" src="/static/message_attachments/{{message.attachment_name}}" alt="image"> {{message.attachment_name}}
                        {%else%}
                        <img class="imgcls" src="https://icons.iconarchive.com/icons/papirus-team/papirus-mimetypes/512/x-office-document-icon.png" alt="Document">{{message.attachment_name}}
                        {%endif%}
                    </a>
                      {%endif%}
                    </div>
                </div>
                </div>
            </div>
{%endfor%}
{%endblock%}

{%block footer%}
    {%include "footer.html"%}
{%endblock%}