{% extends "base.html" %}

{% block content %}
    <h1 align="center" style="color: lightgray;"> Notifications </h1>
    <nav aria-label="...">
      <ul class="w3-ul">
          <li class="previous{% if not prev_url %} disabled{% endif %}">
              <a href="{{ prev_url or '#' }}">
                  <span aria-hidden="true">&larr;</span>Newer messages
              </a>
          </li>

          {% for message in messages %}
          <div class="card border-info mb-3" style="width: 20cm ;">
            <div class="card-body text-info">
              <p class="card-text">{{message.body}}       {{message.author.firstname}} {{message.timestamp}} </p>
            </div>
          </div>
          {% endfor %}

  
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older messages<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}