{%extends "base.html"%}

{%block content%}
<h1 align="center" style="color: lightgray;">send message to {{recipient}}</h1>
{%with messages = get_flashed_messages()%}
{%if messages%}
    {%for message in messages%}
        <p style="color: lime;">{{message}}</p>
    {%endfor%}
{%endif%}
{%endwith%}
<form method="POST" novalidate>
    {{form.csrf_token}}
    <div class="row justify-content-center">    
        <div class="form-group col-md-4">
            <label>{{form.message.label}}</label>
            {{form.message(class="form-control" ,placeholder="Your message here")}}
            <div class="text-danger">
                {% for error in form.message.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="form-group col-md-4">
            {{form.submit(class="btn btn-primary offset-md-5")}}
        </div>
    </div>
</form>
{%endblock content%}


{%block footer%}
    {%include "footer.html"%}
{%endblock footer%}