<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
      <!--configuration for  pc  and tablet -->
      <div class= " w3-container w3-center w3-row w3-hide-small" >
          {%block desktop%}{%endblock%}
      </div>

      <!--for phones-->
      <div class= "w3-auto w3-row w3-hide-large w3-hide-medium " style="margin-top: 5%;width: 90%;">
        {%block phone%}{%endblock%}
      </div>
          <br>

      <footer class="w3-container w3-display-bottom w3-padding w3-center  w3-white " >
        <p>
          <a href= "" class= "w3-text-blue" style="text-decoration:none">Terms</a>
          <a href= "" class= "w3-text-blue" style="text-decoration:none">Privacy</a>
          <a href= "" class= "w3-text-blue" style="text-decoration:none">Security,</a>
          Contact Tutor Tracker<a href= "" class= "w3-text-blue" style="text-decoration:none"> here</a>
        </p>
      </footer>
    </body>

</html>
