<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
      <!--configuration for  pc  and tablet -->
      <div class="w3-bar w3-black w3-padding">
        <a href="{{ url_for('index') }}" class= "w3-text-blue" style="text-decoration:none">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}" class= "w3-text-blue" style="text-decoration:none">Login</a>
        {% else %}
          {%if current_user.tutor %}
          <a href="{{ url_for('tutor_home') }}" class= "w3-text-blue" style="text-decoration:none">Dashboard</a>
          <a href="{{ url_for('tutor_profile') }}" class= "w3-text-blue" style="text-decoration:none">profile</a>
          {%else%}
          <a href="{{ url_for('lecture_home') }}" class= "w3-text-blue" style="text-decoration:none">Dashboard</a>
          <a href="{{ url_for('lecture_profile') }}" class= "w3-text-blue" style="text-decoration:none">profile</a>
          {%endif%}
          <a href="{{ url_for('logout') }}" class= "w3-text-blue" style="text-decoration:none">Logout</a>
        {% endif %}
    </div>
      <div class= " w3-container w3-center w3-row w3-hide-small" >
          {%block desktop%}{%endblock%}
      </div>

      <!--for phones-->
      <div class= "w3-auto w3-row w3-hide-large w3-hide-medium " style="margin-top: 5%;width: 90%;">
        {%block phone%}{%endblock%}
      </div>
          <br>

</html>
