{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block content%}
<br>
<br>
<div class="w3-center w3-text-green">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<form class="w3-container w3-auto w3-card w3-hover-shadow w3-light-grey w3-center" style="width: 50%;" method="POST">
    {{form.csrf_token}}
    <p><label class= "w3-left">{{form.office_number.label}}</label>{{form.office_number(class="w3-input w3-border")}}</p>
    {% for error in form.office_number.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}

    <p><label class= "w3-left">{{form.telephone_number.label}}</label>{{form.telephone_number(class="w3-input w3-border")}}</p>
    {% for error in form.telephone_number.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
    <p>{{form.submit(class="w3-button w3-blue w3-round")}}</p>
</form>
{%endblock%}
