<br>
<br>
<hr>
<div class="w3-light-grey">
<br>
<br>
<p class="w3-center"><a href= "" class= "w3-text-blue" style="text-decoration:none">about</a>

<a href= "" class= "w3-text-blue" style="text-decoration:none">Terms</a>
<a href= "" class= "w3-text-blue" style="text-decoration:none">Privacy</a>
<a href= "" class= "w3-text-blue" style="text-decoration:none">Security</a></p>

<p class="w3-center">Visit our github page here<a href= "https://github.com/Skhendle/Tutor-Tracking-Application" class= "w3-text-blue" style="text-decoration:none"> <i class="fa fa-github"></i> here</a></p>
<br>
<br>

</div>
