{%extends "base.html"%}

{%block title%} {{title}} {%endblock%}
{%block desktop%}
<h1>Welcome To Tutor Tracker</h1>
<h2>Hi, {{ current_user.username }}!</h2>
<h3>
      <p>Tutor Tracker is a website dedicated to helping tutors and lecturers work together in harmony.
      Through our platform, we aim to provide you with analysis tools that will help you as a tutor get ahead in extending a helping hand.
      As a lecturer, we aim to provide you with the best tool to get the most productivity out of tutorial sessions you host. </p>
</h3>
{%endblock%}

{%block phones%}
<h1>Welcome To Tutor Tracker</h1>
<h2>Hi, {{ current_user.username }}!</h2>
<h3>
      <p>Tutor Tracker is a website dedicated to helping tutors and lecturers work together in harmony.
      Through our platform, we aim to provide you with analysis tools that will help you as a tutor get ahead in extending a helping hand.
      As a lecturer, we aim to provide you with the best tool to get the most productivity out of tutorial sessions you host. </p>
</h3>
{%endblock%}