{%extends "base.html"%}

{%block title%}{{title}}{%endblock%}

{%block desktop%}
    <div class="w3-container w3-auto w3-card  w3-light-grey" style="width: 50%;" >
        <p>{{current_user.firstname}}</p>
        <p>{{current_user.lastname}}</p>
        <p>{{current_user.email}}</p>
        <p>{{current_user.username}}</p>
        <p>{{current_user.lecture.employee_number}}</p>
        <p>{{current_user.lecture.office_number}}</p>
        <p>{{current_user.lecture.telephone_number}}</p>
        <a class="w3-button w3-green w3-margin" href="{{url_for('edit_lecture')}}" style="width: 30%;">Update profile</a>

    </div>

{%endblock%}
{%block phones%}
<div class="w3-container w3-auto w3-card  w3-light-grey" style="width: 50%;" >
    <p>{{current_user.firstname}}</p>
    <p>{{current_user.lastname}}</p>
    <p>{{current_user.email}}</p>
    <p>{{current_user.username}}</p>
    <p>{{current_user.lecture.employee_number}}</p>
    <p>{{current_user.lecture.office_number}}</p>
    <p>{{current_user.lecture.telephone_number}}</p>
    <a class="w3-button w3-green w3-margin" href="{{url_for('edit_lecture')}}" style="width: 30%;">Update profile</a>

</div>
{%endblock%}