{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}

      <!-- configuration for  pc  and tablets -->
{%block content%}

<div class="w3-card-4">
      <header class="w3-container w3-light-grey">
            <h3>My Courses</h3>
      </header>
      <div class="w3-container">
                  <p>A list of all the courses that you are lecturing.</p>
      </div>
      <button class="w3-button w3-block w3-flat-carrot">View courses</button>
</div><br>

<div class="w3-card-4">
      <header class="w3-container w3-light-grey">
            <h3>Capture Tutor</h3>
      </header>
      <div class="w3-container">
            <p>The Tutor needs to generate a unique code that you can capture by clicking the capture button</p>
      </div>
      <button class="w3-button w3-block w3-flat-carrot">capture</button>
</div><br>

<div class="w3-card-4">
      <header class="w3-container w3-light-grey">
            <h3>Create A Course</h3>
      </header>
      <div class="w3-container">
            <p>If you are new here, click create course to and get started</p>
      </div>
      <button class="w3-button w3-block w3-flat-carrot">create course</button>
</div>


{%endblock%}  