<div class="row" style="height: 50px;"></div>
<div class="row align-items-center" style="padding: 2em;background-color: transparent; margin: 2em 2em 0em 2em; color: white; border: solid 3px white;">
    <div class="col-md-2">
        <img class="rounded float-left" src = "https://csgobuff.pro/img/empty-avatar.jpg" width="150px" height="150px" alt="backroung image"> 
    </div>
    <div class="col-md-10">
        <h2 style="font-family:monospace;">{{current_user.firstname}} {{current_user.lastname}}</h2>
    </div>
    
</div>
