{%extends "base.html"%}

{%block content%}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="border: solid 3px white; margin-bottom: 2cm; padding-bottom: 1cm; color: white;">
        <div style="border: solid 3px white; margin-bottom: 1cm; margin-top: 0.5cm;">
            <h4 style="color: white; font-family: monospace; padding: 0.5em;">Application details</h4>
            <div style="padding-left: 1em;">
                <p><b>Status</b></p>
                <p>{{application.status}}</p>
                <p><b>Id number</b></p>
                <p>{{application.tutors.id_number}}</p>
                <p><b>name</b></p>
                <p>{{application.tutors.user.firstname}}</p>
                <p><b>Motivation</b></p>
                <p>{{application.motivation}}</p>
                <p><b>Academic record</b></p>
                <p><a href="{{url_for('application.academic_record' ,filename=application.academic_record)}}" target="_blank">view</a></p>
            </div>
            
        </div>
        {% if current_user.lecture%}
                <p><a style="border: solid 3px white; padding: 1em; text-decoration: none; color: white; font-family: monospace;" href="{{url_for('application.application_response',app_id=application.applicaton_id,response='Accepted')}}" style="width: 30%;">Accept</a>
                <a style="border: solid 3px white; padding: 1em; text-decoration: none; color: white; font-family: monospace;" href="{{url_for('application.application_response',app_id=application.applicaton_id,response='Rejected')}}" style="width: 30%;">Reject</a></p>                
        {% endif %}
    </div>
</div>
{%endblock%}

{%block footer%}
{% include "footer.html"%}
{%endblock%}